.captain-documents {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
  margin-bottom: 100px;
}

.doc-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.doc-card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.doc-info {
  font-size: 16px;
  margin-bottom: 10px;
}

.doc-label {
  font-weight: 600;
  color: #333;
}

.view-doc {
  text-decoration: none;
  font-weight: bold;
  color: #007bff;
}

.view-doc:hover {
  text-decoration: underline;
}

.not-uploaded {
  color: red;
  font-weight: 500;
}

.upload-section {
  margin-top: 15px;
}

.file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 160px;
  margin: auto;
}

.upload-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.file-input {
  display: none;
}

.upload-btn {
  background: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

.upload-btn:hover {
  background: #218838;
}

.upload-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.upload-status {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}

.pay-commission{
  background-color: #28a745;
  
}