.login-main {
  padding: 18px;
}

.login-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-top h2 {
  font-size: 2rem;
}

.login-hero .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.login-hero .login-form input {
  width: 100%;

  padding: 12px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;

  background: linear-gradient(145deg, #ffffff, #e0e0e0);

  /* Soft Shadow for Depth */
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.1),
    inset -4px -4px 8px rgba(255, 255, 255, 0.7);

  /* Smooth transition */
  transition: all 0.3s ease-in-out;
  outline: none;
}


.signin-btn-captain {
  position: absolute;
  bottom: 20px; /* Distance from bottom */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  width: 80%;
  padding: 12px;
  background-color: #000;
  color: white;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.new-here-btn {
  color: #17bebb;
}

.signup-button {
  width: 80%;
  padding: 12px;
  background-color: #e71d36;
  color: white;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 90vw;
}

.password-wrapper input {
  flex: 1;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
}

.eye-icon:hover {
  color: #000;
}

.forgot-password-user{
  margin-top: 35px;
}

.forgot-password-user a{
  color: #17bebb;
}