.services{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: black;
    padding: 10px;
}

.services .service-element{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 13px;
    gap: 10px;
}

.service-element span{
    color: #ffffff;
    font-weight: 700;
    margin: auto;
}