.social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    gap: 35px;
  }
  
  .social span {
    color: #e71d36;
    font-size: larger;
  }
  
  .social p {
    margin: 0;
    transition: transform 0.3s ease;
  }
  
  .social p:hover {
    transform: scale(1.2);
  }

  @media (max-width: 480px){

    .social{
      width: 100vw;
    }

    .social span{
      font-size: 20px;
    }
  }