body {
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0px;
  height: 100vh;
  /* background-image: url('/images/whitebg1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  */
  background: linear-gradient(to right, #2193b0, #6dd5ed, #ffffff);




  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
  overflow-x: hidden;
}